[project]
name = "gmap-screenshot-engine"
version = "0.1.0"
description = "Gmap Screenshot Engine"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.11",
]
